html {
    font-family: $font-primary;
    font-size: $font-size;
    line-height: $line-height;
    background: $white;
    color:$gray-10;
    letter-spacing: -.01em;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-variant-ligatures: contextual common-ligatures;
    font-variant-ligatures: contextual common-ligatures;
    -webkit-font-feature-settings: "cv01" 1, "cv06" 1, "cv10" 1;
    font-feature-settings: "cv01" 1, "cv06" 1, "cv10" 1
}

body {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: hidden;
   
}

.container{
    box-sizing    : border-box;
    padding-left  : $line-height *3;
    padding-right : $line-height *3;
   
}

.box{
    padding: 1rem;
    border:1px solid $gray-2;
    background: $gray-1;
}

@media only screen and (max-width:600px) {
    .container {
        padding-left  : $line-height;
        padding-right : $line-height;
    }
}

h1 {
    color: $black;
    font-weight: 700;
    letter-spacing: -.05em;
    font-size: $h1-size;
    line-height: $line-height *2;
    margin-left: $h1-size/-22;
    margin-bottom: $line-height ;
    word-break: break-word
}

h2 {
    color: $black;
    font-weight: 700;
    letter-spacing: -.03em;
    font-size: $h2-size;
    line-height: $line-height *2;
    margin-left: $h2-size/-26;
    margin-bottom: $line-height ;
}

h3 {
    color: $black;
    font-weight: 700;
    letter-spacing: -.02em;
    font-size: $h3-size;
    padding-top: ($baseline *0.75);
    padding-bottom: ($baseline *0.25);
    margin-bottom: $baseline ;
}

h4 {
    color: $black;
    font-weight: 700;
    letter-spacing: -.012em;
    font-size: $h4-size;
}

p{
    margin-bottom:$baseline ;
    margin-top: 0;
    
}

a {
    color:$color-primary;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: $color-primary-light;
}

img,
img:first-child,
img:last-child {
    display: block;
    margin-top: $baseline;
    margin-bottom: $baseline;
    max-width: 100%;
}

img:only-child {
    margin: 0
}

*+img {
    margin-top: ($baseline *-1)
}

img.cover,
img.fill {
    -o-object-fit: cover;
    object-fit: cover
}

ol,
ul {
    list-style-position: outside
}

ol.compact>li,
ul.compact>li {
    margin: 0
}

ul {
    padding-left: 1.3em
}

ol {
    list-style: none;
    counter-reset: counter1;
    padding-left: 2em
}

ol>li {
    counter-increment: counter1;
    position: relative
}

ol>li:before {
    content: counter(counter1) ". ";
    font-weight: 500;
    position: absolute;
    --space: 0.5em;
    --width: 2em;
    left: calc(-1*var(--width));
    width: var(--width);
    height: $line-height;
    text-align: left
}

img.top {
    -o-object-position: center top;
    object-position: center top;
    align-self: center
}

img.center {
    -o-object-position: center center;
    object-position: center center;
    align-self: center
}

img.bottom {
    -o-object-position: center bottom;
    object-position: center bottom;
    align-self: center
}

img.left.top {
    -o-object-position: left top;
    object-position: left top;
    align-self: flex-start
}

img.left.center {
    -o-object-position: left center;
    object-position: left center;
    align-self: flex-start
}

img.left.bottom {
    -o-object-position: left bottom;
    object-position: left bottom;
    align-self: flex-start
}

img.right.top {
    -o-object-position: right top;
    object-position: right top;
    align-self: flex-end
}

img.right.center {
    -o-object-position: right center;
    object-position: right center;
    align-self: flex-end
}

img.right.bottom {
    -o-object-position: right bottom;
    object-position: right bottom;
    align-self: flex-end
}

.padding0 {
    padding: 0
}

.padding1 {
    padding: ($line-height *1)
}

.padding2 {
    padding: ($line-height *2)
}

.padding3 {
    padding: ($line-height *3)
}

.padding4 {
    padding: ($line-height *4)
}

.padding5 {
    padding: ($line-height *5);
    padding: ($line-height *6);
    padding: ($line-height *7);
    padding: ($line-height *8)
}

.margin0 {
    margin: 0
}

.margin1 {
    margin: ($line-height *1)
}

.margin2 {
    margin: ($line-height *2)
}

.margin3 {
    margin: ($line-height *3)
}

.margin4 {
    margin: ($line-height *4)
}

.margin5 {
    margin: ($line-height *5);
    margin: ($line-height *6);
    margin: ($line-height *7);
    margin: ($line-height *8)
}